#root {
  max-width: 1280px;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('https://i.pinimg.com/originals/ca/e0/1a/cae01ab5cce960db0d7819cc96e97ce8.png');
  background-position: center;
  background-size: cover;
}
:root {
  --text: #eafaf4;
  --background: #040f0b;
  --primary: #83e2bb;
  --secondary: #203786;
  --accent: #553bd1;
}
